---
title: Помощь пожилым людям
---

<p>Людям в возрасте тяжело выдерживать продолжительные физические нагрузки в заботах по дому.</p>
<p>В нашем центре с 1 сентября 2017 года был создан новый проект «Помощь пожилым людям», была сформирована команда.</p>
<p>
    Ребята с педагогом-организатором приходят к пожилым людям, нуждающимся в помощи, чтобы помочь им навести порядок:
    помыть полы и окна, выбросить мусор, выбить ковры и т.д.
</p>

<div class="blog">

    {% assign elderyhelp_posts = site.elderyhelp | order:"slug" | reverse %}
    {% for post in elderyhelp_posts %}
    {% include post-preview.html post=post subdir="eldery-help" %}
    {% endfor %}

</div>
