---
title: Чудеса из песка (песочное рисование)
---

<p>
    <strong>Песочное рисование</strong> — удивительное рисование на песке. Дети создают неповторимые шедевры только
    своими руками и песком.
</p>

<p>Как приятно видеть радостные лица наших детей, когда они ощущают себя героями красивой сказки!</p>

<div class="blog">

    {% assign sanddrawing_posts = site.sanddrawing | order:"date" %}
    {% for post in sanddrawing_posts %}
    {% include post-preview.html post=post subdir="sand-drawing" %}
    {% endfor %}

</div>
