---
title: Особый ребёнок
---

<p>Наш особенный ребёнок — обладатель энциклопедических знаний! Мы хотим презентовать новую рубрику, которую будет вести наш воспитанник Маляренко Сергей.</p>

<p>Сергей мечтает стать экскурсоводом — он знает не только историю современного родного города, но и всё, что происходило от времён Византии до событий нашего времени.</p>

<p>Сергей обладает широким кругозором, феноменальной памятью и интересуется всем, что его окружает; главной преградой для реализации мечты является дефект речи.</p>    

<div class="blog">

    {% assign specialchild_posts = site.specialchild | order:"date" | reverse %}
    {% for post in specialchild_posts %}
    {% include post-preview.html post=post subdir="special-child" %}
    {% endfor %}

</div>
