{% capture devnull %}
    {% capture breadcrumbs_raw %}{% include _helpers/breadcrumbs.html %}{% endcapture %}
    {% assign items = breadcrumbs_raw | split:"|" %}
    {% assign last_item_url = items | last | split:"~" | first %}
    {% if last_item_url == "/" %}
        {% assign items = "/~Центр содействия семейному воспитанию «Сколковский»" %}
    {% else %}
        {% assign items = items | reverse %}
    {% endif %}
{% endcapture %}
<title>{% for item in items %}{{ item | split:"~" | last }}{% unless forloop.last %} | {% endunless %}{% endfor %}</title>
