<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% include _page/title.html %}


<body>

<div class="wrap">
    <div class="wrap_bg1">
        <div class="wrap_bg2">
            <div class="wrap_margin1">
                <div class="wrap_margin2">

                    <div class="spacer10"></div>

                    <div class="top">

                        <a href="https://usynovi-moskva.ru/our-centers/skolkovskiy/" target="_blank"><img src="{{ site.baseurl }}/assets/images/dszn-logo.jpeg" class="dszn-logo" alt="Департамент труда и социальной защиты населения города Москвы"></a>
                        {% include special-version-link.html %}
                        {% include top-search-form.html %}
                    </div>

                    <div class="top_menu">
                        {% include main-menu.html nested=true %}
                    </div>

                    <div class="spacer11"></div>
