{% capture word %}
    {% assign variants = include.variants | split:"|" %}
    {% assign number = include.number | plus:0 %}
    {% assign number_str = include.number | append:"" %}
    {% assign number_last_digit = number_str | slice:-1,1 | plus:0 %}
    {% case number_last_digit %}
        {% when 1 %}
            {% assign word_index = 0 %}
        {% when 2 or 3 or 4 %}
            {% if number > 10 and number < 20 %}
                {% assign word_index = 1 %}
            {% else %}
                {% assign word_index = 2 %}
            {% endif %}
        {% else %}
            {% assign word_index = 2 %}
    {% endcase %}
{% endcapture %}{{ number_str }} {{ variants[word_index] }}