{% capture devnull %}
    {% if site.github.url %}
        {% assign root_url = site.github.url %}
    {% elsif site.hosturl %}
        {% assign root_url = site.hosturl | append:site.baseurl %}
    {% else %}
        {% assign root_url = 'http://localhost:' | append:site.port | append:site.baseurl %}
    {% endif %}
    {% assign redirect_url = root_url | append:page.url | append:'#' | append:include.form_id %}
{% endcapture %}<input type="hidden" name="redirect_to" value="{{ redirect_url }}">
