body {
    margin: 0;
    font-family: 'Open Sans', Arial, Tahoma, sans-serif;
    font-size: 14px;
    background-color: #FAF7EA;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 940px;
    height: 154px;
    margin-left: -470px;
    margin-top: -77px;
}

.top-block {
    height: 88px;
    background: #003ba1 url(top-block__bg.png) 0 0 repeat-x;
    position: relative;
    border-top-left-radius: 15px;
}

.logo {
    position: absolute;
    left: 14px;
    top: 16px;
}

.top-block__text1 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    position: absolute;
    left: 87px;
    top: 6px;
}

.top-block__text2 {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    position: absolute;
    left: 87px;
    top: 26px;
}

.top-block__text3 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    position: absolute;
    left: 87px;
    top: 61px;
}

.bottom-block {
    height: 66px;
    background: #c9ad5c url(bottom-block__bg.png) 0 0 repeat-x;
    border-bottom-right-radius: 15px;
}

.bottom-block__text {
    text-align: center;
    font-size: 25px;
    line-height: 66px;
    text-transform: uppercase;
}
