---
title: Главная
layout: start
---

{% include slider.html items_count=8 %}

<div class="spacer13"></div>

<div class="slogan"><span>Наш дом полон <br>добра и любви</span></div>

<div class="spacer13"></div>

<div class="bd">
    <div class="bd1" id="announce_container">
        {% assign post = site.posts | where_exp:"item","item.announce_title" | sort:"date" | last %}
        <div class="bd_title"><div>{{ post.announce_title | first }} <span>{{ post.announce_title | last }}</span></div></div>
        <div class="bd_content">
            <div>{{ post.excerpt }}</div>
            <span class="bd_more"><a href="{{ post.url | prepend:site.baseurl }}">узнать больше</a></span>
        </div>
        <script type="text/x-tpl" id="substitute_announce">
            <div class="bd_title"><div>Как <span>нам помочь?</span></div></div>
            <div class="bd_content">
                <div>Мы&nbsp;всегда будем рады помощи в&nbsp;организации досуга наших воспитанников, это может быть:</div>
                <ul class="arrow">
                    <li>предоставление и&nbsp;оплата автобуса для организации поездок;</li>
                    <li>организация однодневных экскурсий;</li>
                    <li>помощь в&nbsp;приобретении санаторно-курортных путевок;</li>
                    <li>приобретение билетов в&nbsp;цирк, театр, музей, заказник.</li>
                </ul>
                <span class="bd_more"><a href="{{site.baseurl}}/help/">узнать больше</a></span>
            </div>
        </script>
        {% assign date = post.announce_until | default:post.date %}
        <script>
            (function() {
                var announce_stamp = new Date('{{ date | date:"%Y-%m-%d" }} 23:59:59');
                if (announce_stamp < Date.now()) {
                    document.getElementById('announce_container').innerHTML = document.getElementById('substitute_announce').innerHTML;
                }
            })();
        </script>
    </div>
    <div class="bd2">
        <div class="bd_title"><div>Поздравь <span>ребенка</span></div></div>

        <div class="bd_content" id="birthlist">
            <span class="bd_more"><a href="{{site.baseurl}}/projects/birthdays/">узнать больше</a></span>
        </div>
        <script>
            (function () {
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '{{ site.baseurl }}/files/birthlist.json');
                xhr.onload = function() {
                    var now = Date.now();
                    var container = document.getElementById("birthlist");
                    var data = JSON.parse(xhr.responseText);
                    var data_items_count = data.length;
                    var output_items_count_max = 9;
                    var output_items_count = 0;
                    var i = 0;
                    var is_odd = false;
                    var item;
                    var item_time;
                    var elem;
                    while ((i < data_items_count) && (output_items_count < output_items_count_max)) {
                        item = data[i];
                        item_time = Date.parse(item.birthday);
                        if (item_time > now) {
                            elem = document.createElement('div');
                            is_odd = !is_odd;
                            if (is_odd) {
                                elem.className = 'bd_color';
                            }
                            elem.innerHTML = item.birthday_str + ' — ' + item.name + ' (' + item.age_str + ')';
                            container.appendChild(elem);
                            output_items_count++;
                        }
                        i++;
                    }
                };
                xhr.send();
            })();
        </script>
    </div>
    <div class="bd3">
        <div class="bd_title"><div>Наши <span>мероприятия</span></div></div>
        <div class="bd_content">
            {% capture devnull %}
                {% assign seconds_in_day = 60 | times:60  | times:24 %}
                {% assign seconds_in_30_days = seconds_in_day | times:30 %}

                {% assign month_first_date = site.time | date:"%Y-%m-01" %}
                {% assign month = month_first_date | date:"%m" %}
                {% assign month_prefix = month_first_date | date:"%Y-%m-" %}

                {% assign month_last_date_candidate = month_first_date | date:"%s" | plus:seconds_in_30_days %}
                {% assign month_last_date_candidate_month = month_last_date_candidate | date:"%m" %}
                {% if month_last_date_candidate_month == month %}
                    {% assign month_last_date = month_last_date_candidate %}
                {% else %}
                    {% assign extra_days = month_last_date_candidate | date:"%e" %}
                    {% assign extra_seconds = seconds_in_day | times:extra_days %}
                    {% assign month_last_date = month_last_date_candidate | minus:extra_seconds %}
                {% endif %}
                {% assign month_last_date = month_last_date | date:"%Y-%m-%d" %}
                {% assign month_last_day = month_last_date | date:"%e" | plus:0 %}

            {% endcapture %}{% assign devnull = nil %}
            <div>
                Календарь мероприятий в {% include _helpers/monthname.html month=month %}:
            </div>
            <div>
            <table class="calendar" border="1">
                <tr>
                    {% assign announces = site.announces | sort:date %}
                    {% for day in (1..month_last_day) %}
                        {% capture devnull %}
                            {% assign date = day | prepend:month_prefix | date:"%Y-%m-%d" %}
                            {% assign weekday = date | date:"%w" | plus:0 %}
                            {% if weekday == 0 %}
                                {% assign weekday = 7 %}
                            {% endif %}
                        {% endcapture %}{% assign devnull = nil %}
                        {% if forloop.first and weekday > 1 %}
                            {% assign iterations = weekday | minus:1 %}
                            {% for i in (1..iterations) %}
                                <td></td>
                            {% endfor %}
                        {% endif %}

                        {% assign post = nil %}
                        {% for item in announces %}
                            {% assign item_date = item.date | date:"%Y-%m-%d" %}
                            {% if item_date == date %}
                                {% assign post = item %}
                                {% break %}
                            {% endif %}
                        {% endfor %}
                        {% if post %}
                            <td class="event"><a href="{{ post.url | prepend:site.baseurl }}">{{ day }}</a></td>
                        {% else %}
                            <td>{{ day }}</td>
                        {% endif %}

                        {% if forloop.last and weekday < 7 %}
                            {% assign iterations = 7 | minus:weekday %}
                            {% for i in (1..iterations) %}
                                <td></td>
                            {% endfor %}
                        {% endif %}

                        {% unless forloop.last or weekday != 7 %}
                            </tr>
                            <tr>
                        {% endunless %}
                    {% endfor %}
                </tr>
            </table>
            </div>
            <span class="bd_more"><a href="{{site.baseurl}}/announces/">узнать больше</a></span>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="spacer13"></div>

<div class="columns-container">

    <div class="column-left"><iframe width="670" height="400" src="https://www.youtube.com/embed/RwZ-OZDN6FA" frameborder="0" allowfullscreen=""></iframe></div>
    <div class="column-right" style="float: right;"><a href="http://www.ya-roditel.ru/" target="_blank"><img src="{{ site.baseurl }}/files/teasers/objavlenie-banner.gif"></a></div>

</div>
