---
title: Главная
layout: start
---

{% include slider.html items_count=15 %}

<div class="spacer13"></div>

<div class="bd">
    {% include announce.html order=1 %}
    {% include birthday-announce.html order=2 %}
    {% include calendar.html order=3 %}
    <div class="clear"></div>
</div>

<div class="spacer13"></div>

<div class="columns-container">

    <div class="column-left"><iframe width="670" height="400" src="https://www.youtube.com/embed/RwZ-OZDN6FA" frameborder="0" allowfullscreen=""></iframe></div>
    <div class="column-right" style="float: right;"><a href="http://www.ya-roditel.ru/" target="_blank"><img src="{{ site.baseurl }}/files/teasers/objavlenie-banner.gif"></a></div>

</div>

<div class="spacer13"></div>
<div style="text-align: center;">
    <a href="http://www.gosuslugi.ru/" target="_blank"><img src="{{ site.baseurl }}/files/teasers/gosuslugi_728x90.png"></a>
</div>
