{% capture devnull %}
    {% assign dateslug = include.post.url | split:"/" | last %}
    {% assign dir = site.basedir | append:"/files/life/" | append:dateslug | append:"/" %}
    {% assign src = include.file | prepend:dir %}
    {% assign type = include.type | default:'video/mp4; codecs="avc1.42E01E, mp4a.40.2"' %}
    {% assign width = include.width | default:640 %}
    {% assign height = include.height | default:360 %}
{% endcapture %}{% assign devnull = nil %}
<p class="video-container">
    <video width="{{ width }}" height="{{ height }}" controls>
        <source src="{{ src }}" type='{{ type }}'>
    </video>
</p>
