<div class="bd{{ include.order }}">
    <div class="bd_title"><div>Наши <span>мероприятия</span></div></div>
    <div class="bd_content">
        {% include calendar-item.html month_type="previous" %}
        {% include calendar-item.html month_type="current" %}
        {% include calendar-item.html month_type="next" %}
        <script>
            (function () {
                var now = Date.now();
                var date_cells = document.getElementById('current_month_calendar').querySelectorAll('[data-date]');
                var i;
                var cell_elem;
                var cell_date;
                for (i = 0; i < date_cells.length; i++) {
                    cell_elem = date_cells[i];
                    cell_date = new Date(cell_elem.getAttribute('data-date') + ' 23:59:59');
                    if (cell_date < now) {
                        cell_elem.classList.add('past');
                    }
                }

                var links = document.querySelectorAll('.calendar-link');
                var link_elem;
                for (i = 0; i < links.length; i++) {
                    link_elem = links[i];
                    link_elem.onclick = switchCalendarItem;
                }

                function switchCalendarItem(event) {
                    var target = this.getAttribute('data-target');
                    var items = document.querySelectorAll('.calendar-item');
                    var i;
                    var item_elem;
                    for (i = 0; i < items.length; i++) {
                        item_elem = items[i];
                        if (item_elem.getAttribute('data-type') === target) {
                            item_elem.style.display = '';
                        } else {
                            item_elem.style.display = 'none';
                        }
                    }
                    event.preventDefault();
                }
            })();
        </script>
    </div>
</div>
