<ul class="menu">
{% for item in site.data.menu %}
{% capture devnull %}

    {% assign title = item[0] %}
    {% assign uri = item[1] %}

    {% assign subitems = item[2] %}
    {% if include.nested and subitems %}
        {% assign is_nested = true %}
    {% else %}
        {% assign is_nested = false %}
    {% endif %}

    {% assign pageurl_parts = page.url | split:"/" %}
    {% assign itemuri_parts = uri | split:"/" %}
    {% if uri == page.url %}
        {% assign is_current = true %}
    {% elsif pageurl_parts[1] == itemuri_parts[1] %}
        {% assign is_current = true %}
    {% else %}
        {% assign is_current = false %}
    {% endif %}

    {% assign is_current = false %}

{% endcapture %}{% assign devnull = nil %}
    <li class="item {% if is_current %}active{% endif %}"><a href="{{ site.baseurl }}{{ uri }}">{{ title }}</a>{% if is_nested %}
        <ul>
        {% for subitem in subitems %}
            <li><a href="{{ site.baseurl }}{{ subitem[1] }}">{{ subitem[0] }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}</li>
{% endfor %}
</ul>
