{% assign post = include.post %}
<div class="posts-item">
    {% capture devnull %}
        {% assign title = include.title | default:post.title %}
        {% assign dateslug = post.url | split:"/" | last %}
        {% assign subdir = post.files_subdir %}

        {% assign thumb = nil %}
        {% assign image = nil %}
        {% assign proceed_url = nil %}

        {% unless post.no_more_link %}
            {% assign proceed_url = post.url | prepend:site.baseurl %}
        {% endunless %}

        {% if post.single_image %}
            {% assign image = "files/" | append:subdir | append:"/" | append:dateslug | append:".jpg" %}
        {% elsif post.images %}
            {% assign dir = "files/" | append:subdir | append:"/" | append:dateslug | append:"/" %}
            {% assign cover_image_data = post.images[post.cover_image_key] | split:'|' %}
            {% assign image = cover_image_data[0] | strip | prepend:dir %}
            {% assign thumb = cover_image_data[1] | strip %}
            {% assign thumb_strlen = thumb | size %}
            {% if thumb_strlen > 0 %}
                {% assign thumb = thumb | prepend:dir %}
            {% endif %}
        {% endif %}
    {% endcapture %}{% assign devnull = nil %}

    {% include gallery-item.html image=image thumb=thumb caption=title proceed_url=proceed_url %}

    {% if proceed_url %}
    <h2><a href="{{ proceed_url }}">{{ title }}</a></h2>
    {% else %}
    <h2>{{ title }}</h2>
    {% endif %}

    {% if post.date %}
    <dl class="article-info">
        <dd class="create">{{ post.date | date:"%d.%m.%Y" }}</dd>
    </dl>
    {% endif %}

    {{ post.excerpt }}

    {% if proceed_url %}
    <p class="readmore"><a href="{{ proceed_url }}">Подробнее...</a></p>
    {% endif %}
</div>
