{% assign post = include.post %}
<div class="posts-item">
    {% capture devnull %}
        {% assign title = include.title | default:post.title %}
        {% assign dateslug = post.url | split:"/" | last %}
        {% assign subdir = post.files_subdir %}

        {% assign thumb = nil %}
        {% assign image = nil %}
        {% assign caption = nil %}
        {% if post.single_image %}
            {% assign image = "files/" | append:subdir | append:"/" | append:dateslug | append:".jpg" %}
            {% assign caption = title %}
        {% elsif post.images %}
            {% assign dir = "files/" | append:subdir | append:"/" | append:dateslug | append:"/" %}
            {% assign cover_image_data = post.images[post.cover_image_key] | split:'|' %}
            {% assign image = cover_image_data[0] | strip | prepend:dir %}
            {% assign thumb = cover_image_data[1] | strip %}
            {% assign thumb_strlen = thumb | size %}
            {% if thumb_strlen > 0 %}
                {% assign thumb = thumb | prepend:dir %}
            {% endif %}
            {% assign caption = cover_image_data[2] | strip %}
        {% endif %}
    {% endcapture %}{% assign devnull = nil %}

    {% include gallery-item.html image=image thumb=thumb caption=caption %}
    <h2>{{ title }}</h2>
    {% if post.date %}
    <dl class="article-info">
        <dd class="create">{{ post.date | date:"%d.%m.%Y" }}</dd>
    </dl>
    {% endif %}
    {{ post.excerpt }}
    {% unless post.no_more_link %}
    <p class="readmore"><a href="{{ post.url | prepend:site.baseurl }}">Подробнее...</a></p>
    {% endunless %}
</div>
