{% capture substitute_announce %}
    <div class="bd_title"><div>Предупреждение <span>вирусов и ОРВИ?</span></div></div>
    <div class="bd_content">
        <div>Мы&nbsp;всегда будем рады помощи в&nbsp;организации досуга наших воспитанников, это может быть:</div>
        <ul class="arrow">
            <li>предоставление и&nbsp;оплата автобуса для организации поездок;</li>
            <li>организация однодневных экскурсий;</li>
            <li>помощь в&nbsp;приобретении санаторно-курортных путевок;</li>
            <li>приобретение билетов в&nbsp;цирк, театр, музей, заказник.</li>
        </ul>
        <span class="bd_more"><a href="{{ site.baseurl }}/help/">узнать больше</a></span>
    </div>
{% endcapture %}
