{% capture devnull %}
    {% assign current_timestamp = site.time | date:"%s" %}
    {% assign next_year = current_timestamp | date:"%Y" | plus:1 %}
    {% assign announced_post = nil %}
    {% assign announced_post_timestamp = current_timestamp | date:"-%m-%d" | prepend:next_year | date:"%s" %}
    {% assign posts = site.announces | where_exp:"item","item.announce_title" | sort:"date" %}
    {% for post in posts %}
        {% assign post_timestamp = post.announce_until | default:post.date | date:"%Y-%m-%d 23:59:59" | date:"%s" %}
        {% if post_timestamp > current_timestamp and post_timestamp < announced_post_timestamp %}
            {% assign announced_post = post %}
            {% assign announced_post_timestamp = post_timestamp %}
        {% endif %}
    {% endfor %}
{% endcapture %}{% assign devnull = nil %}

{% capture substitute_announce %}
    <div class="bd_title"><div>Внимание <span>вирусы!</span></div></div>
    <div class="bd_content">
        <div>Роспотребнадзор&nbsp;опубликовал рекомендации &nbsp;о новой коронорирусной инфекции:</div>
        <ul class="arrow">
            <li>{% include doc-link.html text="Гигиена при коронавирусе" uri="files/orvi/Gigiena.docx" %}</li>
            <li>организация однодневных экскурсий;</li>
            <li>помощь в&nbsp;приобретении санаторно-курортных путевок;</li>
            <li>приобретение билетов в&nbsp;цирк, театр, музей, заказник.</li>
        </ul>
        <span class="bd_more"><a href="{{ site.baseurl }}/orvi/">узнать больше</a></span>
    </div>
{% endcapture %}

<div class="bd{{ include.order }}" id="announce_container">
    {% if announced_post %}
        {% assign post = announced_post %}
        <div class="bd_title"><div>{{ post.announce_title | first }} <span>{{ post.announce_title | last }}</span></div></div>
        <div class="bd_content">
            <div>{{ post.excerpt }}</div>
            <span class="bd_more"><a href="{{ post.url | prepend:site.baseurl }}">узнать больше</a></span>
        </div>
        <script type="text/x-tpl" id="substitute_announce">{{ substitute_announce }}</script>
        {% assign date = post.announce_until | default:post.date %}
        <script>
            (function() {
                var announce_stamp = new Date('{{ date | date:"%Y-%m-%d" }} 23:59:59');
                if (announce_stamp < Date.now()) {
                    document.getElementById('announce_container').innerHTML = document.getElementById('substitute_announce').innerHTML;
                }
            })();
        </script>
    {% else %}
        {{ substitute_announce }}
    {% endif %}
    </div>    