/* ---------- main ---------- */

body {
    margin: 0px;
    font-family: 'Open Sans', Arial, Tahoma, sans-serif;
    font-size: 14px;
    background: url(../images/back.gif) no-repeat center top #FAF7EA;
}

img {
    border: 0px;
}

.clear {
    clear: both;
}

.wrap {
    width: 980px;
    margin: 0 auto;
}

.wrap_bg1 {
    background: url(../images/wrap_bg1.png) repeat-y left top;
}

.wrap_bg2 {
    background: url(../images/wrap_bg2.png) repeat-y right top;
}

.wrap_margin1 {
    background-color: #F3EEDA;
    margin: 0 10px;
}

.wrap_margin2 {
    margin: 0 10px;
}

.spacer10 {
    height: 10px;
}

.spacer11 {
    height: 11px;
}

.spacer13 {
    height: 13px;
}

.spacer44 {
    height: 44px;
}

.spacer33 {
    height: 33px;
}

.article-info-term {
    display: none;
}

.border_img {
    border: 1px solid #999;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 25px;
    background: #F8F8F8;
}

.banner {
    text-align: center;
    position: relative;
    width: 940px;
    margin: 10px 0;
}

/* ---------- top ---------- */

.top {
    height: 88px;
    background: #0039a0 url(../images/bg_top.png) repeat-x; /* thybzi: color */
    position: relative;
    border-top-left-radius: 15px;
}

.top .logo {
    position: absolute;
    left: 14px;
    top: 16px;
}

.top_text1 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    position: absolute;
    left: 87px;
    top: 6px;
}

.top_text2 {
    color: #fff;
    font-size: 23px;
    text-transform: uppercase;
    position: absolute;
    left: 87px;
    top: 27px;
}

.top_text3 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    position: absolute;
    left: 87px;
    top: 61px;
}

/* ---------- top_menu ---------- */

.top_menu {
    height: 66px;
    background: #dbc178 url(../images/bg_top_menu.png) repeat-x; /* thybzi: color */
    border-bottom-right-radius: 15px;
}

.top_menu > ul {
    margin: 0px;
    padding: 0px;
    height: 66px;
}

.top_menu > ul > li {
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    padding-right: 2px;
    padding-top: 1px;
    background: url(../images/line_top_menu.png) no-repeat right;
}

/* thybzi {{ */
.top_menu > ul > li.item > a {
    width: 154px;
    height: 65px;
    color: #191210;
    display: table-cell;
    vertical-align: middle;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
}

.top_menu > ul > li.item:last-child {
    padding-right: 0;
    background-image: none;
}

.top_menu > ul > li.item:last-child > a {
    width: 157px;
    border-bottom-right-radius: 15px;
}
/* }} thybzi */

.top_menu > ul > li.item > a:hover {
    background: #ae8f3a;
    color: #f6f2e7;
    text-decoration: none;
}


.top_menu > ul > li.item-101 > a {
    width: 76px;
    height: 42px;
    padding-top: 23px;
    color: #191210;
    display: block;
    float: left;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    margin-top: 1px;
}

.top_menu > ul > li.item-101 > a:hover {
    background: #ae8f3a;
    color: #f6f2e7;
    text-decoration: none;
}

.top_menu > ul > li.item-110 > a {
    width: 140px;
    height: 42px;
    padding-top: 23px;
    color: #191210;
    display: block;
    float: left;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    margin-top: 1px;
}

.top_menu > ul > li.item-110 > a:hover {
    background: #ae8f3a;
    color: #f6f2e7;
    text-decoration: none;
}

.top_menu > ul > li.item-111 > a {
    width: 100px;
    height: 42px;
    padding-top: 23px;
    color: #191210;
    display: block;
    float: left;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    margin-top: 1px;
}

.top_menu > ul > li.item-111 > a:hover {
    background: #ae8f3a;
    color: #f6f2e7;
    text-decoration: none;
}

.top_menu > ul > li.item-112 > a {
    width: 148px;
    height: 42px;
    padding-top: 23px;
    color: #191210;
    display: block;
    float: left;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    margin-top: 1px;
}

.top_menu > ul > li.item-112 > a:hover {
    background: #ae8f3a;
    color: #f6f2e7;
    text-decoration: none;
}

.top_menu > ul > li.item-113 > a {
    width: 159px;
    height: 42px;
    padding-top: 23px;
    color: #191210;
    display: block;
    float: left;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    margin-top: 1px;
}

.top_menu > ul > li.item-113 > a:hover {
    background: #ae8f3a;
    color: #f6f2e7;
    text-decoration: none;
}

.top_menu > ul > li.item-136 > a {
    width: 159px;
    height: 42px;
    padding-top: 23px;
    color: #191210;
    display: block;
    float: left;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    margin-top: 1px;
}

.top_menu > ul > li.item-136 > a:hover {
    background: #ae8f3a;
    color: #f6f2e7;
    text-decoration: none;
}

.top_menu > ul > li.item-114 > a {
    width: 109px;
    height: 50px;
    padding-top: 15px;
    color: #191210;
    display: block;
    float: left;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
    margin-top: 1px;
}

.top_menu > ul > li.item-114 > a:hover {
    background: #ae8f3a;
    color: #f6f2e7;
    text-decoration: none;
}

.top_menu > ul > li.item-115 > a {
    width: 87px;
    height: 50px;
    padding-top: 15px;
    color: #191210;
    display: block;
    float: left;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
    margin-top: 1px;
}

.top_menu > ul > li.item-115 > a:hover {
    background: #ae8f3a;
    color: #f6f2e7;
    text-decoration: none;
}

.top_menu > ul > li.item-116 > a {
    width: 71px;
    height: 42px;
    padding-top: 23px;
    color: #191210;
    display: block;
    float: left;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    margin-top: 1px;
}

.top_menu > ul > li.item-116 > a:hover {
    background: #ae8f3a;
    color: #f6f2e7;
    text-decoration: none;
}

.top_menu > ul > li.item-117 {
    padding-right: 0px;
    background: none;
}

.top_menu > ul > li.item-117 > a {
    width: 86px;
    height: 42px;
    padding-top: 23px;
    color: #191210;
    display: block;
    float: left;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    margin-top: 1px;
}

.top_menu > ul > li.item-117 > a:hover {
    background: #ae8f3a;
    color: #f6f2e7;
    text-decoration: none;
    border-bottom-right-radius: 15px;
}

.top_menu > ul > li.active.item-117 > a {
    border-bottom-right-radius: 15px;
}

.top_menu > ul > li.active > a {
    background: #ae8f3a;
    color: #f6f2e7;
    text-decoration: none;
}

.top_menu > ul > li > ul {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out 0s;
    visibility: hidden;
    /*z-index: 100;*/
    z-index: 200; /* thybzi */
    margin: 65px 0 0 0;
    padding: 0px;
}

.top_menu > ul > li > ul > li {
    background: #d6b96c;
    display: block;
    float: left;
    list-style-type: none;
    /*width: 200px;*/
    width: 265px; /* thybzi */
    border-top: 1px solid #f0ddaa;
}

.top_menu > ul > li > ul > li > a {
    /*height: 50px;*/
    /*line-height: 50px;*/
    line-height: 18px; /* thybzi */
    color: #191210;
    display: block;
    /*font-size: 13px;*/
    font-size: 12px; /* thybzi */
    text-decoration: none;
    /*width: 189px;*/
    width: 243px; /* thybzi */
    /*padding-left: 11px;*/
    padding: 8px 11px; /* thybzi */
}

.top_menu > ul > li > ul > li > a:hover {
    background: #ae8f3a;
    color: #f6f2e7;
    text-decoration: none;
}

.top_menu > ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
}

/* ---------- center ---------- */

.slider {
    width: 940px;
    height: 385px;
}

.mod_jt_skitter_slideshow_img {
    padding: 6px;
    background: #fff;
    border-radius: 15px;
}

.slogan {
    width: 940px;
    height: 141px;
    background: url(../images/bg_slogan.png) no-repeat;
    position: relative;
}

.slogan span {
    font-size: 37px;
    font-weight: 600;
    color: #e52828;
    line-height: 44px;
    position: absolute;
    left: 300px;
    top: 22px;
    text-transform: uppercase;
}

.bd {
}

.bd_img {
    margin: 0px 12px 0px 12px;
}

.bd_more {
    position: absolute; /* thybzi */
    right: 0; /* thybzi */
    bottom: 0; /* thybzi */
    text-align: right;
    padding-right: 12px;
    display: block;
    padding-bottom: 12px;
}

.bd_color {
    background: #e8edff;
}

.bd_more a {
    color: #0C75CD;
    padding-left: 16px;
    background: url(../images/resultset_next.png) no-repeat left 3px;
}

.bd_more a:hover {
    text-decoration: none;
}

.bd1 {
    width: 289px;
    float: left;
    margin-right: 38px;
}

.bd2 {
    width: 289px;
    float: left;
    margin-right: 34px;
}

.bd3 {
    width: 289px;
    float: left;
}

.bd_title {
    background: url(../images/bg_bd_title.png) no-repeat 12px 8px #f7f3e4;
    border: 1px solid #c9ad5c;
    width: 287px;
    height: 42px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}

.bd_title div {
    font-size: 19px;
    color: #c9ad5c;
    font-weight: 600;
    position: absolute;
    left: 48px;
    top: 8px;
}

.bd_title div span {
    color: #003ba1;
}

.bd_content {
    position: relative; /* thybzi */
    width: 287px;
    min-height: 270px; /* thybzi */
    border-left: 1px solid #c9ad5c;
    border-right: 1px solid #c9ad5c;
    border-bottom: 1px solid #c9ad5c;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #fffffa;
    padding-top: 12px;
    padding-bottom: 40px; /* thybzi */
}

.bd_content div {
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    line-height: 20px; /* thybzi */
}

/* thybzi {{ */
.bd_content div p:first-child {
    margin-top: 0;
}
/* }} thybzi */

/* ---------- footer ---------- */

.footer_menu {
    height: 58px;
    background: #dbc178 url(../images/bg_footer_menu.png) repeat-x; /* thybzi: color */
    border-top-left-radius: 15px;
}

.footer_menu ul {
    margin: 0px;
    padding: 0px;
    height: 58px;
}

.footer_menu ul li {
    display: block;
    float: left;
    list-style-type: none;
}

/* thybzi {{ */
.footer_menu ul li.item {
    padding-right: 2px;
    background: url(../images/line_top_menu.png) no-repeat right;
}

.footer_menu ul li.item a {
    width: 154px;
    height: 58px;
    color: #191210;
    display: table-cell;
    vertical-align: middle;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
}

.footer_menu ul li.item a:hover {
    background: #ae8f3a;
    color: #f6f2e7;
    text-decoration: none;
}

.footer_menu ul li.item:first-child a {
    width: 157px;
    border-top-left-radius: 15px;
}

.footer_menu ul li.item:last-child {
    padding-right: 0;
    background-image: none;
}
/* }} thybzi */

.footer_menu ul li.item-101 {
    padding-right: 2px;
    background: url(../images/line_footer_menu.png) no-repeat right;
}

.footer_menu ul li.item-101 a {
    width: 76px;
    height: 37px;
    padding-top: 20px;
    color: #191210;
    display: block;
    float: left;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
}

.footer_menu ul li.item-101 a:hover {
    background: #ae8f3a;
    color: #f6f2e7;
    text-decoration: none;
    border-top-left-radius: 15px;
}

.footer_menu ul li.item-110 {
    padding-right: 2px;
    background: url(../images/line_top_menu.png) no-repeat right;
}

.footer_menu ul li.item-110 a {
    width: 140px;
    /*height: 44px;*/
    height: 37px;
    /*padding-top: 13px;*/
    padding-top: 20px;
    color: #191210;
    display: block;
    float: left;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
}

.footer_menu ul li.item-110 a:hover {
    background: #ae8f3a;
    color: #f6f2e7;
    text-decoration: none;
}

.footer_menu ul li.item-111 {
    padding-right: 2px;
    background: url(../images/line_top_menu.png) no-repeat right;
}

.footer_menu ul li.item-111 a {
    width: 100px;
    height: 37px;
    padding-top: 20px;
    color: #191210;
    display: block;
    float: left;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
}

.footer_menu ul li.item-111 a:hover {
    background: #ae8f3a;
    color: #f6f2e7;
    text-decoration: none;
}

.footer_menu ul li.item-112 {
    padding-right: 2px;
    background: url(../images/line_top_menu.png) no-repeat right;
}

.footer_menu ul li.item-112 a {
    width: 148px;
    height: 37px;
    padding-top: 20px;
    color: #191210;
    display: block;
    float: left;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
}

.footer_menu ul li.item-112 a:hover {
    background: #ae8f3a;
    color: #f6f2e7;
    text-decoration: none;
}

.footer_menu ul li.item-113 {
    padding-right: 2px;
    background: url(../images/line_top_menu.png) no-repeat right;
}

.footer_menu ul li.item-113 a {
    width: 159px;
    height: 37px;
    padding-top: 20px;
    color: #191210;
    display: block;
    float: left;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
}

.footer_menu ul li.item-113 a:hover {
    background: #ae8f3a;
    color: #f6f2e7;
    text-decoration: none;
}

.footer_menu ul li.item-136 {
    padding-right: 2px;
    background: url(../images/line_top_menu.png) no-repeat right;
}

.footer_menu ul li.item-136 a {
    width: 159px;
    height: 37px;
    padding-top: 20px;
    color: #191210;
    display: block;
    float: left;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
}

.footer_menu ul li.item-136 a:hover {
    background: #ae8f3a;
    color: #f6f2e7;
    text-decoration: none;
}

.footer_menu ul li.item-114 {
    padding-right: 2px;
    background: url(../images/line_top_menu.png) no-repeat right;
}

.footer_menu ul li.item-114 a {
    width: 109px;
    height: 44px;
    padding-top: 13px;
    color: #191210;
    display: block;
    float: left;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
}

.footer_menu ul li.item-114 a:hover {
    background: #ae8f3a;
    color: #f6f2e7;
    text-decoration: none;
}

.footer_menu ul li.item-115 {
    padding-right: 2px;
    background: url(../images/line_top_menu.png) no-repeat right;
}

.footer_menu ul li.item-115 a {
    width: 87px;
    height: 44px;
    padding-top: 13px;
    color: #191210;
    display: block;
    float: left;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
}

.footer_menu ul li.item-115 a:hover {
    background: #ae8f3a;
    color: #f6f2e7;
    text-decoration: none;
}

.footer_menu ul li.item-116 {
    padding-right: 2px;
    background: url(../images/line_top_menu.png) no-repeat right;
}

.footer_menu ul li.item-116 a {
    width: 71px;
    height: 37px;
    padding-top: 20px;
    color: #191210;
    display: block;
    float: left;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
}

.footer_menu ul li.item-116 a:hover {
    background: #ae8f3a;
    color: #f6f2e7;
    text-decoration: none;
}

.footer_menu ul li.item-117 {
}

.footer_menu ul li.item-117 a {
    width: 86px;
    height: 37px;
    padding-top: 20px;
    color: #191210;
    display: block;
    float: left;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
}

.footer_menu ul li.item-117 a:hover {
    background: #ae8f3a;
    color: #f6f2e7;
    text-decoration: none;
}

.footer_menu ul li.active.item-101 a {
    border-top-left-radius: 15px;
}

.footer_menu ul li.active a {
    background: #ae8f3a;
    color: #f6f2e7;
    text-decoration: none;
}

.footer {
    height: 96px;
    background: #0039a0 url(../images/bg_footer.png) repeat-x; /* thybzi: color */
    position: relative;
}

.footer_logo {
    position: absolute;
    top: 18px;
    left: 14px;
}

.f_text1 {
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    top: 13px;
    left: 85px;
}

.f_text2 {
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    top: 35px;
    left: 85px;
}

.f_text2 a {
    color: #ffffff; /* thybzi */
}

.f_text3 {
    position: absolute;
    top: 57px;
    left: 85px;
    color: #ffffff; /* thybzi */
}

.f_text3 a {
    color: #ffffff;
    font-size: 14px;
    text-decoration: underline;
}

.f_text4 {
    position: absolute;
    top: 57px;
    left: 197px;
}

.f_text4 a {
    color: #ffffff;
    font-size: 14px;
    text-decoration: underline;
}

.f_text5 {
    position: absolute;
    top: 13px;
    left: 317px;
    padding-left: 8px;
    background: url(../images/footer_arrow.png) no-repeat 0px 8px;
}

.f_text5 a {
    color: #ffffff;
    font-size: 13px;
}

.f_text6 {
    position: absolute;
    top: 14px;
    left: 317px;
    line-height: 16px;
    padding-left: 8px;
    width: 310px;
}

.f_text6 a {
    color: #ffffff;
    font-size: 13px;
}

.footer_line {
    position: absolute;
    right: 288px;
    top: 11px;
}

.flab_img {
    position: absolute;
    right: 213px;
    top: 20px;
}

.flab_text {
    position: absolute;
    right: 21px;
    top: 28px;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 13px;
    color: #fff;
}

.flab_text a {
    color: #fff;
    text-decoration: none;
}

.content {
    padding: 6px 12px 6px 12px;
    background: #fff;
    border-radius: 15px;
    min-height: 400px;
}

.content a {
    color: #0c75cd;
    text-decoration: underline;
}

.content a:hover {
    text-decoration: none;
}

.content h1, h2 {
    font-size: 22px;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.moduletable_form > div {
    display: none;
}

.item-page h3 {
    font-size: 18px;
}

.item-page ul {
    padding-left: 30px;
}

.item-page ul li {
    background-image: url(../images/arrow.png);
    background-position: left 4px;
    background-repeat: no-repeat;
    list-style-type: none;
    padding-left: 22px;
    padding-bottom: 5px;
}

/* thybzi {{ */

.item-page::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.item-page h4 + ul {
    margin-top: -10px;
}
/* }} thybzi */

#pg-pagination ul {
    list-style-type: none;
}

#pg-pagination ul li {
    display: inline-block;
    margin-right: 10px;
}

.pagination ul {
    list-style-type: none;
    padding: 0px;
}

.pagination ul li {
    display: inline-block;
    margin-right: 10px;
    padding: 0; /* thybzi */
    background-image: none; /* thybzi */
}

.bd_content ul,
.arrow {
    padding-left: 12px;
    margin: 0px;
}

.bd_content div ul {
    margin-left: -12px;
}

.bd_content ul li,
.arrow li {
    background-image: url(../images/arrow.png);
    background-position: left 4px;
    background-repeat: no-repeat;
    list-style-type: none;
    padding-left: 22px;
    padding-bottom: 5px;
}

.item-separator {
    clear: both;
}

.article-info dd {
    margin-left: 0px;
}

/* pozdrav-rebenka.html */
.bgPhocaClass{
    background:#666666;
    filter:alpha(opacity=70);
    opacity: 0.7;
    -moz-opacity:0.7;
    z-index:1000;
}
.fgPhocaClass{
    background:#f6f6f6;
    filter:alpha(opacity=100);
    opacity: 1;
    -moz-opacity:1;
    z-index:1000;
}
.fontPhocaClass{
    color:#000000;
    z-index:1001;
}
.capfontPhocaClass, .capfontclosePhocaClass{
    color:#ffffff;
    font-weight:bold;
    z-index:1001;
}
                          #sbox-window {background-color:#6b6b6b;padding:2px}
#sbox-overlay {background-color:#000000;}

                        .pgplugin1 {border:1px solid #e8e8e8 ; background: #fcfcfc ;}
.pgplugin1:hover, .pgplugin0.hover {border:1px solid #b36b00 ; background: #f5f5f5 ;}


form.simpleForm label {
    display: block;
}

form.simpleForm label span {
    color: #ff0000;
}

form.simpleForm input.inputtext {
    width: 215px;
}

form.simpleForm textarea.inputtext {
    width: 215px;
    height: 100px;
}

form.simpleForm textarea.inputtext_small {
    width: 215px;
    height: 50px;
}

/* thybzi {{ */

.phocagallery-box-file {
    background-color: #fcfcfc;
    border: 1px solid #e8e8e8;
}

.video-container {
    text-align: center;
}

.posts-item,
.pagination {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #e8e8e8;
}

.posts-item .phocagallery-box-file {
    margin-right: 15px;
}

.posts-item::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.doc-link {
    white-space: nowrap;
}

.birthday-cols {
    margin-top: 20px;
    margin-bottom: 15px;
}

.special-version-link {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.2) url(../images/special.png) 0 0 no-repeat;
}

table.striped {
    border-collapse: collapse;
    margin-bottom: 20px;
}

table.striped tbody tr:nth-child(2n+1) {
    background-color: #f5f5f5;
}

table.striped th,
table.striped td {
    border: 1px solid #e8e8e8;
    padding: 5px 10px;
}

table.striped tbody {
    counter-reset: ordinal;
}

table.striped td.item-number {
    text-align: right;
    counter-increment: ordinal;
}

table.striped td.item-number::before {
    content: counter(ordinal) ". ";
}


table.striped.compact {
    font-size: 12px;
}

table.striped.compact th,
table.striped.compact td {
    padding: 3px 6px;
}

.columns-container::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.column-half-width {
    width: 50%;
}

.column-left {
    float: left;
}

.column-right {
    float: left;
}

.breadcrumbs {
    list-style-type: none;
    margin: 15px 0;
    padding: 0;
    font-size: 13px;
}

.breadcrumbs li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.breadcrumbs li::after {
    content: ' /';
}

.content h2 a {
    text-decoration: none;
}

.phocagallery-box-file .fullsize-link {
    display: block;
    width: 270px;
    height: 218px;
}

/* }} thybzi */
